{% include 'header' %}

#import <Typhoon/Typhoon.h>
#import <RamblerTyphoonUtils/AssemblyCollector.h>
#import <ViperMcFlurry/ViperMcFlurry.h>
/**
 @author {{ developer.name }}

 {{ module_info.description }}
 */
@interface {{ prefix }}{{ module_info.name }}Assembly : TyphoonAssembly <RamblerInitialAssembly>

- (RamblerViperModuleFactory *)factory{{ module_info.name }};
@end
