{% include 'header' %}

#import <UIKit/UIKit.h>
#import "{{ prefix }}{{ module_info.name }}ViewInput.h"
#import "{{ prefix }}{{ module_info.name }}DatasourceInput.h"
#import "BaseViewController.h"

@protocol {{ prefix }}{{ module_info.name }}ViewOutput;
@protocol {{ prefix }}{{ module_info.name }}DatasourceInput;

@interface {{ prefix }}{{ module_info.name }}ViewController : BaseViewController <{{ prefix }}{{ module_info.name }}ViewInput, UITableViewDelegate, UITableViewDataSource>

@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}ViewOutput> output;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}DatasourceInput> datasource;
@property (weak, nonatomic) IBOutlet UITableView *tableView;

@end
