{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Router.h"

#import <ViperMcFlurry/ViperMcFlurry.h>

@interface {{ prefix }}{{ module_info.name }}Router()

//@property (strong, nonatomic) RamblerViperModuleFactory *factory;

@end


@implementation {{ prefix }}{{ module_info.name }}Router

#pragma mark - Методы {{ prefix }}{{ module_info.name }}RouterInput

@end
