{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ViewOutput.h"
#import "{{ prefix }}{{ module_info.name }}InteractorOutput.h"
#import "{{ prefix }}{{ module_info.name }}ModuleInput.h"
#import "{{ prefix }}{{ module_info.name }}DatasourceOutput.h"
#import "BaseViewControllerProtocol.h"

@protocol BaseViewControllerProtocol;
@protocol {{ prefix }}{{ module_info.name }}ViewInput;
@protocol {{ prefix }}{{ module_info.name }}InteractorInput;
@protocol {{ prefix }}{{ module_info.name }}RouterInput;
@protocol {{ prefix }}{{ module_info.name }}DatasourceOutput;

@interface {{ prefix }}{{ module_info.name }}Presenter : NSObject <{{ prefix }}{{ module_info.name }}ModuleInput, {{ prefix }}{{ module_info.name }}ViewOutput, {{ prefix }}{{ module_info.name }}InteractorOutput>

@property (nonatomic, weak) id<{{ prefix }}{{ module_info.name }}ViewInput, BaseViewControllerProtocol> view;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}InteractorInput> interactor;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}RouterInput> router;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}DatasourceOutput> datasource;


@end
