{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}DatasourceInput.h"

@protocol {{ prefix }}{{ module_info.name }}DatasourceOutput;

@interface {{ prefix }}{{ module_info.name }}Datasource : NSObject <{{ prefix }}{{ module_info.name }}DatasourceInput, {{ prefix }}{{ module_info.name }}DatasourceOutput>


@end
