{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Datasource.h"
#import "{{ prefix }}{{ module_info.name }}DatasourceOutput.h"
#import "ObjectTableViewCell.h"

@interface {{ prefix }}{{ module_info.name }}Datasource()

@property (nonatomic, strong) NSArray<NSArray<ObjectTableViewCell*>*> *data;

@end

@implementation {{ prefix }}{{ module_info.name }}Datasource

#pragma mark - Методы {{ prefix }}{{ module_info.name }}DatasourceInput
- (void)prepare
{
	NSMutableArray *mData=[NSMutableArray new];

	_data =mData;
}

-(NSInteger)countItemsInSection:(NSInteger)section
{
    return _data[section].count;
}
-(NSInteger)countSection{
    return _data.count;
}

-(CGFloat)heightAtIndex:(NSIndexPath*)index{
    return _data[index.section][index.row].height;
}

-(NSString *)cellIdAtIndex:(NSIndexPath*)index{
    return _data[index.section][index.row].cellId;
}

-(id)dataAtIndex:(NSIndexPath*)index{
    return _data[index.section][index.row].data;
}
-(NSArray*)cellsIdentifire{
    return @[];
}
@end
