{% include 'header' %}

#import <Foundation/Foundation.h>

@protocol {{ prefix }}{{ module_info.name }}DatasourceInput <NSObject>

@property (nonatomic, assign, readonly) NSInteger countSection;

- (CGFloat) heightAtIndex:(NSIndexPath*)index;

- (id) dataAtIndex:(NSIndexPath*)index;

- (NSString*) cellIdAtIndex:(NSIndexPath*)index;

- (NSArray*) cellsIdentifire;

- (NSInteger) countItemsInSection:(NSInteger)section;

@end
