{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Assembly.h"

#import "{{ prefix }}{{ module_info.name }}ViewController.h"
#import "{{ prefix }}{{ module_info.name }}Interactor.h"
#import "{{ prefix }}{{ module_info.name }}Presenter.h"
#import "{{ prefix }}{{ module_info.name }}Router.h"
#import "{{ prefix }}{{ module_info.name }}Datasource.h"

#import <ViperMcFlurry/ViperMcFlurry.h>

@implementation {{ prefix }}{{ module_info.name }}Assembly

- ({{ prefix }}{{ module_info.name }}ViewController *)view{{ module_info.name }} {
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}ViewController class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition injectProperty:@selector(output)
                                                    with:[self presenter{{ module_info.name }}]];
                              [definition injectProperty:@selector(moduleInput)
                                                    with:[self presenter{{ module_info.name }}]];
                              [definition injectProperty:@selector(datasource)
                                                    with:[self datasource{{ module_info.name }}]];
                          }];
}

- ({{ prefix }}{{ module_info.name }}Interactor *)interactor{{ module_info.name }} {
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Interactor class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition injectProperty:@selector(output)
                                                    with:[self presenter{{ module_info.name }}]];
                          }];
}

- ({{ prefix }}{{ module_info.name }}Presenter *)presenter{{ module_info.name }}{
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Presenter class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition injectProperty:@selector(view)
                                                    with:[self view{{ module_info.name }}]];
                              [definition injectProperty:@selector(interactor)
                                                    with:[self interactor{{ module_info.name }}]];
                              [definition injectProperty:@selector(router)
                                                    with:[self router{{ module_info.name }}]];
                              [definition injectProperty:@selector(datasource)
                                                    with:[self datasource{{ module_info.name }}]];
                          }];
}

- ({{ prefix }}{{ module_info.name }}Datasource *)datasource{{ module_info.name }}{
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Datasource class]];
}

- ({{ prefix }}{{ module_info.name }}Router *)router{{ module_info.name }}{
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Router class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition injectProperty:@selector(transitionHandler)
                                                    with:[self view{{ module_info.name }}]];
                          }];
}

- (RamblerViperModuleFactory *)factory{{ module_info.name }}  {
    return [TyphoonDefinition withClass:[RamblerViperModuleFactory class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition useInitializer:@selector(initWithStoryboard:andRestorationId:)
                                              parameters:^(TyphoonMethod *initializer) {
                                                  [initializer injectParameterWith:[self storyboard{{ module_info.name }}]];
                                                  [initializer injectParameterWith:@"{{ prefix }}{{ module_info.name }}ViewController"];
                                              }];
                          }];
}

- (UIStoryboard*)storyboard{{ module_info.name }} {
    return [TyphoonDefinition withClass:[TyphoonStoryboard class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition useInitializer:@selector(storyboardWithName:factory:bundle:)
                                              parameters:^(TyphoonMethod *initializer) {
                                                  [initializer injectParameterWith:@"Main"];
                                                  [initializer injectParameterWith:self];
                                                  [initializer injectParameterWith:nil];
                                              }];
                          }];
}
@end
