{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}RouterInput.h"
#import "BaseRouter.h"
@protocol RamblerViperModuleTransitionHandlerProtocol;

@interface {{ prefix }}{{ module_info.name }}Router : BaseRouter <{{ prefix }}{{ module_info.name }}RouterInput>

//@property (nonatomic, weak) id<RamblerViperModuleTransitionHandlerProtocol> transitionHandler;

@end
